{% load static %}

<body id="nav_body">

    <nav>
        <div class="nav-bar">
            <i class="fa-solid fa-bars sidebarOpen"></i>
            <span class="logo navLogo"><a href="{% url 'home' %}">EMS</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">EMS</a></span>
                    <a href="{% url 'home' %}"><i class="fa-solid fa-xmark siderbarClose"></i></a>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                    <li><a href="{% url 'register_user' %}">Registration</a></li>
                </ul>
            </div>

            <div class="searchBox">
                <div class="searchToggle">

                </div>
                <div class="search-field">

                </div>

                <div class="profile-info">
                    <div class="profile-header">
                        {% if user.is_authenticated %}
                        {% if user_pro %}
                        {% if user_pro.profile_photo %}
                        <img src="{{ user_pro.get_profile_photo }}" alt="Profile Photo" class="profile-pic">
                        {% else %}
                        {% if user_pro.gender == 'Male' %}
                        <img src="{% static 'images/default_male_avatar.png' %}" alt="Default Male Avatar"
                            class="profile-pic">
                        {% elif user_pro.gender == 'Female' %}
                        <img src="{% static 'images/default_female_avatar.png' %}" alt="Default Female Avatar"
                            class="profile-pic">
                        {% else %}
                        <img src="{% static 'images/default_other_avatar.png' %}" alt="Default Other Avatar"
                            class="profile-pic">
                        {% endif %}
                        {% endif %}
                        <div class="profile-details">
                            <h3>{{ user_pro.full_name | title }}</h3>
                        </div>
                        {% else %}
                        <img src="{% static 'images/default_blank_avatar.png' %}" alt="Default Avatar"
                            class="profile-pic">
                        <div class="profile-details">
                            <p style="font-size: 15px; font-weight: 500; color: #140044;">Profile not found.</p>
                        </div>
                        {% endif %}
                        {% else %}
                        <img src="{% static 'images/default_blank_avatar.png' %}" alt="Default Avatar"
                            class="profile-pic">
                        <div class="profile-details">
                            <p style="font-size: 15px; font-weight: 500; color: #140044;">Guest User</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </nav>
</body>